<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQL5Dialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      
      <!-- Assume heatMapTest is the database name -->
      
      <property name = "hibernate.connection.url">
         jdbc:mysql://localhost/heatMapTest
      </property>
      
      <property name = "hibernate.connection.username">
         radim
      </property>
      
      <property name = "hibernate.connection.password">
         iiiiiiiii
      </property>
      
      <property name="connection.pool_size">
          10
      </property>
      
      <property name="hibernate.hbm2ddl.auto">
          create
      </property>
  
      <!-- Echo all executed SQL to sysout -->
      <property name="show_sql">false</property>
      
      <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
	  <property name="hibernate.current_session_context_class">thread</property>
      
      <!-- List of XML mapping files -->
      
   </session-factory>
</hibernate-configuration>